.logout-btn {
  background-color: #f73a90;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.logout-btn:hover {
  opacity: 0.9;
}

.dash-btn,
.reg-btn {
  background-color: #27ae60;
  color: white;
  border: none;
  margin-top: 10px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.dash-link,
.register-link {
  text-decoration: none;
  color: white;
}
